name: Main

on:
  push:
    branches: [main]
    tags: [v*.*.*]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  test:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.14"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup vapoursynth
        uses: ./

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          enable-cache: true

      - name: Install project
        run: uv sync --frozen

      - name: Check vapoursynth
        run: uv run python -c "import vapoursynth; print(vapoursynth.core.version_number())"

  github-deploy:
    name: Release to GitHub
    if: github.ref_type == 'tag'
    needs: [test]
    environment: github-releases
    permissions:
      contents: write
    env:
      CHANGELOG: https://github.com/${{ github.repository }}/blob/main/CHANGELOG.md
      PRERELEASE: ${{ contains(github.ref, 'alpha') || contains(github.ref, 'beta') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Create GitHub Release
        run: |
          gh release create ${GITHUB_REF_NAME} \
            --title ${GITHUB_REF_NAME} \
            --notes="See [the CHANGELOG](${CHANGELOG}) for more details." \
            --draft=${PRERELEASE} \
            --prerelease=${PRERELEASE}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
